.header {
    height: 80vh;
    width: 100%;
    background-image: url('../../assets//image/_.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: end;
}

.contentHeader {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.432);

}

.descriptionHeader {
    width: 80%;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;

}

.linksHeader {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

.descriptionAndFlecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
    padding: 1rem;
}


.linksHeader a {
    margin: 0 1rem 2rem 0;
}

@media screen and (max-width: 991px) {
    .header {
        justify-content: center;
        background-size: cover;
        text-align: justify;

    }

    .linksHeader {
        flex-direction: row;

    }

    .contentHeader {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem;

    }


}

@media screen and (max-width: 769px) {
    .header {
        background-color: rebeccapurple;
    }

    .contentHeader {
        margin: auto;
        width: 100%;
    }

    .descriptionHeader {
        font-size: .9;
    }
}