.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 1rem 2rem;
    color: aliceblue;
}

.video {
    width: 40%;
}

@media screen and (max-width: 1325px) {
    .header {
        flex-wrap: wrap !important;
    }

    .video {
        width: 100%;
    }
}